.App {
	text-align: center;
	padding: 7% 5%;
}

.App * {
	box-sizing: border-box;
}

ul {
	padding: 0;
	list-style: none;
}

p {
	margin: 5px 0;
}

input[type="text"],
input[type="number"] {
	padding: 8px 6px 8px 10px;
	border-radius: 4px;
	outline: none;
	border: 1px solid #ccc;
	font-size: 14px;
	line-height: 20px;
	align-self: center;
	height: 38px;
}

.city {
	width: 250px;
}

.CitySearch {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	margin-top: 20px;
}

.suggestions {
	width: 250px;
	align-self: center;
	margin: 0;
	font-size: 14px;
}

.suggestions > li {
	text-align: left;
	padding: 8px 6px 8px 10px;
	background-color: #eee;
	cursor: default;
}

.suggestions > li:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
	background-color: #bcdcdb;
}

.Event {
	padding: 10px 10px 20px;
	margin-bottom: 10px;
	text-align: left;
	border: 1px solid #ccc;
	border-radius: 4px;
	position: relative;
}

.show-detail-button,
.hide-detail-button {
	position: absolute;
	right: 5px;
	bottom: 5px;
	padding: 5px 8px;
	border-radius: 4px;
	outline: none;
	cursor: pointer;
}

.event-name,
.event-name__details {
	font-size: 18px;
	font-weight: 600;
}

.event-group,
.event-group__details {
	text-transform: uppercase;
	font-size: 14px;
}

.event-rsvp,
.event-rsvp__details {
	font-style: italic;
}

.event-description__details {
	overflow-x: hidden;
}

.numberOfEvents {
	/* width: 80px; */
	margin: 50px 0 10px;
	/* text-align: right; */
}

.showEventsNumber {
	width: 60px;
}

.event-description__details {
	margin-top: 10px;
}
